@font-face {
    font-family: 'Alexandria';
    src: url('../fonts/Alexandria/Alexandria-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Protest Riot';
    src: url('../fonts/Protest_Riot/ProtestRiot-Regular.ttf') format('truetype');
}

html, body {
    font-family: 'Alexandria', sans-serif;
    overflow-x: hidden;
}
.header {
    background-color: #F4FFFA;
    color: white;
    padding: 15px 0;
}
.header img.img-fluid {
    max-width: 180px;
    height: auto;
}
.header .contact-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .contact-info div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.header .contact-info div i {
    margin-right: 10px;
}
.header .icon {
    width: 40px;
    height: 40px;
    margin-right: 8px;
    vertical-align: middle;
}
.services {
    background-color: #f8f9fa;
    padding: 40px 0;
    position: relative;
    margin-bottom: 5%;
}
.services .service-item {
    margin-bottom: 20px;
}
.services .service-item + div img {
    margin-left: 10%; /* Adiciona margem à esquerda da imagem */
}
.entrar-contato {
    background-color: #00a99d;
    color: white;
    padding: 20px 0;
    text-align: center;
}
.paw-cloud {
    position: absolute;
    bottom: -10px;
    right: 0;
    width: 35%;
    height: auto;
    opacity: 0; /* Inicialmente invisível */
    transition: opacity 0.5s ease-out; /* Transição suave */
}

[data-aos="fade-left"] {
    opacity: 1; /* Visível quando a animação é ativada */
}

.text-blue {
    color: #0B4062;
}

.custom-navbar {
    background-color: #129796;
    height: 80px;
}
.custom-navbar .nav-link {
    color: white;
    font-weight: bold;
    text-transform: uppercase; /* Texto em maiúsculas */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; /* Centraliza verticalmente */
    padding: 0 30px; /* Aumenta o espaçamento entre os itens */
    font-size: 1.4rem; /* Aumenta o tamanho do texto */
}
.custom-navbar .nav-link:hover {
    color: #e0f2f1;
}
.custom-navbar .dropdown-menu {
    background-color: #129796;
}
.custom-navbar .dropdown-item {
    color: white;
}
.custom-navbar .dropdown-item:hover {
    background-color: #00796b;
}
.navbar-nav {
    margin: 0 auto; /* Centraliza horizontalmente */
}
.navbar-nav .nav-item {
    margin: 0 80px; /* Aumenta o espaçamento entre todos os itens */
}
.custom-navbar .navbar-brand {
    display: none;
}
html.no-scroll,
body.no-scroll {
    overflow: hidden;
}


.offcanvas-body, .offcanvas-header{
    background-color: #129796;
}
.offcanvas-header .btn-close{
    background-color: #fff;
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block;
    animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.clinica-title {
    font-family: 'Protest Riot', sans-serif;
}

.rio {
    color: #55B8AE;
}
.una {
    color: #FF9C31;
}
.fixed-whatsapp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 70px; /* Aumenta o tamanho do ícone */
  height: 70px; /* Aumenta o tamanho do ícone */
  background: url('../img/Frame.png') no-repeat center center;
  background-size: contain;
  z-index: 1000;
  border: 3px solid #25D366; /* Borda verde do WhatsApp */
  border-radius: 50%; /* Deixa o ícone circular */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4); /* Sombra para destacar o ícone */
  animation: pulse 1s infinite; /* Ajusta a duração da animação */
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  }
  50% {
    transform: scale(1.3); /* Aumenta a escala da pulsação */
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  }
}